@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300&display=swap');

body,
button {
  font-family: 'Asap';

}

.App {
  // min-height: 100vh;
  max-height: 75%;
  text-align: center;
  background-image: url('../../public/wave-b&w.gif');
  background-size: 100%;
  border: 3px solid green;
}



.App h2 {
  margin-top: 200px;
  color: goldenrod
}

.homepage-button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  gap: 8em;
  margin-top: 200px;
  
}

