@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300&display=swap');

body,
button {
  font-family: 'Asap';

}

.App {
  min-height: 100vh;
  text-align: center;
  background-image: url('../../public/wave.gif');
  background-size: 100%;
}



.App h2 {
  margin-top: 200px
}

.homepage-button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  gap: 8em;
  margin-top: 200px;
  
}

