.header {
  background-color: #b1b8c400;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  .logo {
    width: 300px;
    height: 300px;
    margin-bottom: 100px;
  }
}
  
.buttons {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffc107;
  gap: 2em;
  margin: 15px;
}

.log-in {
  height: 40px;
  width: 100px;
  background-color: black;
  border-radius: 25px;
  border: 1px solid #ffc107;
  color: #ffc107;
  box-shadow: #ffc107 0px 3px 8px;

  &:hover, 
  &:focus {
    background-color: #ffc107;
    color: black;
    border: 1px solid black;
  }
}