.header {
  background-color: #b1b8c400;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
}
  
.buttons {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: goldenrod;
  gap: 2em;
  margin: 15px;
}

.log-in {
  height: 40px;
  width: 100px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid black;

  &:hover, 
  &:focus {
    background-color: black;
    color: white;
    border: 1px solid goldenrod;
  }
}