.infos {
  width: 80%;
  margin: auto;
  color: white;

  h1 {
    text-transform: capitalize;
    font-weight: bold;
    color: white;

    img {
      height: 4rem;
      width: 4rem;
    }
  }

  p {
    text-align: initial;
  }
  a:link {
    text-decoration: none;
    color: #ffc107;
  }
  a:visited {
    text-decoration: none;
    color: #ffc107;
  }
  a:hover {
    text-decoration: underline;
    color: #ffc107;
  }
  a:active {
    text-decoration: none;
    color: #ffc107;
  }
}
