.infos {
  width: 80%;
  margin: auto;
  
  h1 {
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    
    img {
      height: 4rem;
      width: 4rem;
    }
  }
  
  .details {
    color: white;
  }

  p {
    text-align: initial;
    color: white;
  }
  a:link {
    text-decoration: none;
    color: #ffc107;
  }
  a:visited {
    text-decoration: none;
    color: #ffc107;
  }
  a:hover {
    text-decoration: underline;
    color: #ffc107;
  }
  a:active {
    text-decoration: none;
    color: #ffc107;
  }
  .chart-info-container {
    display: flex;
    justify-content: space-between;
    .info-chart {
      color: black;
      width: 70%;
    }
    .info-details {
      width: 27%;
      .table {
        margin-bottom: 3rem;
      }
      .add-to-watchlist {
        margin-top: 3rem;
      }
    }
  }
}

.dropdown-details {
  margin-top: 3rem;
}

td.info-chart {
  color: black;
}

